<%- include('layouts/header.ejs') %>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <%- include('navparts/nav.ejs') %>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->



 <!----finance------>

 <div id="finance" class="pricing-tables">
    <div class="tables-left-dec">
      <img src="assets/images/tables-left-dec.png" alt="">
    </div>
    <div class="tables-right-dec">
      <img src="assets/images/tables-right-dec.png" alt="">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading">
            <h2>Select a suitable <em>plan</em> for your next <span>projects</span></h2>
            <span>Our Plans</span>
          </div>
        </div>
      </div>
      <div class="row" style="background: linear-gradient(to right, #ff8566, #33AEFF);">

        <div class="col-lg-4">
          <br><br><br>
          <div class="item first-item">
            <h4>Free</h4>
            <em>$10/mo</em>
            <span>$0</span>
            <ul>
                  <li><i class="fas fa-check" style="color: green;"></i> <b>BLACK BOX TOOL</b></li>
                  <li class="text-muted"><i class="fas fa-times" style="color: red;"></i></i><b> FUZZY TOOL</b></li>
                  <li class="text-muted"><i class="fas fa-times" style="color: red;"></i><b> The Expectation Tool</b></li>
                  <li class="text-muted"><i class="fas fa-times" style="color: red;"></i> <b>Sales Rate</b></li>
            </ul>
            <br><br>
          </div>
        </div>
        <div class="col-lg-4">
          <br><br><br>
          <div class="item second-item">
            <h4>Standard Plan</h4>
            <em>$240/mo</em>
            <span>$200</span>
            <ul>
                  <li><i class="fas fa-check" style="color: green;"></i> <b>BLACK BOX TOOL</b></li>
                  <li><i class="fas fa-check" style="color: green;"></i><b> FUZZY TOOL</b></li>
                  <li class="text-muted"><i class="fas fa-times" style="color: red;"></i><b> The Expectation Tool</b></li>
                  <li class="text-muted"><i class="fas fa-times" style="color: red;"></i> <b>Sales Rate</b></li>
            </ul>
            <div class="main-blue-button-hover">
              <a href="#">Buy Now</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <br><br><br>
          <div class="item third-item">
            <h4>Advanced Plan</h4>
            <em>$360/mo</em>
            <span>$280</span>
            <ul>
                  <li><i class="fas fa-check" style="color: green;"></i><b> BLACK BOX TOOL</b></li>
                  <li><i class="fas fa-check" style="color: green;"></i><b> FUZZY TOOL</b></li>
                  <li><i class="fas fa-check" style="color: green;"></i><b> The Expectation Tool</b></li>
                  <li><i class="fas fa-check" style="color: green;"></i><b> Sales Rate</b></li>
            </ul>
            <div class="main-blue-button-hover">
              <a href="#">Buy Now</a>
            </div>
          </div>
          <br><br><br>
        </div>
      </div>
    </div>
  </div>



<!-------finance end------->




<%- include('layouts/footer.ejs') %>


  <script>
  // Acc
    $(document).on("click", ".naccs .menu div", function() {
      var numberIndex = $(this).index();

      if (!$(this).is("active")) {
          $(".naccs .menu div").removeClass("active");
          $(".naccs ul li").removeClass("active");

          $(this).addClass("active");
          $(".naccs ul").find("li:eq(" + numberIndex + ")").addClass("active");

          var listItemHeight = $(".naccs ul")
            .find("li:eq(" + numberIndex + ")")
            .innerHeight();
          $(".naccs ul").height(listItemHeight + "px");
        }
    });

    function myFunction1() {
  var x = document.getElementById("myDIV1");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

function myFunction2() {
  var x = document.getElementById("myDIV2");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}



function myFunction3() {
  var x = document.getElementById("myDIV3");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}


function myFunction4() {
  var x = document.getElementById("myDIV4");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

$(document).ready(function() {
$('#dtBasicExample').DataTable();
$('.dataTables_length').addClass('bs-select');
} );

$(document).ready(function() {
$('#dtBasicExample1').DataTable();
$('.dataTables_length').addClass('bs-select');
} );


$(document).ready(function() {
$('#dtBasicExample2').DataTable();
$('.dataTables_length').addClass('bs-select');
} );


$(document).ready(function() {
$('#dtBasicExample3').DataTable();
$('.dataTables_length').addClass('bs-select');
} );

function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
  </script>
</body>
</html>