

 <%- include('layouts/header.ejs') %>
<style>
  .our-services .item
  {
    height:600px;
    border: 3px solid #ED6258;
  }
</style>
  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <%- include('navparts/nav.ejs') %>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->
  
<!-------home------->
  <div class="main-banner" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="owl-carousel owl-banner">
                <div class="item header-text">
                  <h6>Welcome to Onix Digital</h6>
                  <h2>Build <em>your website</em> the best in <span>SEO</span>?</h2>
                  <p>This is a professional looking HTML Bootstrap 5 website template brought to you by TemplateMo website.</p>
                  <div class="down-buttons">
                    <div class="main-blue-button-hover">
                      <a href="#contact">Message Us Now</a>
                    </div>
                    <div class="call-button">
                      <a href="#"><i class="fa fa-phone"></i> 010-020-0340</a>
                    </div>
                  </div>
                </div>
                <div class="item header-text">
                  <h6></h6>
                  <h2>EveryThing <em>For Your Business</em> In <span>One Place</span></h2>
                  <p>Analytics and AI Algorithms at Your Services</p>
                  <div class="down-buttons">
                    <div class="main-blue-button-hover">
                      <a href="#services">Our Services</a>
                    </div>
                    <div class="call-button">
                      <a href="#"><i class="fa fa-phone"></i>010-6002-4256</a>
                    </div>
                  </div>
                </div>
                <div class="item header-text">
                  <h6>Video Tutorials</h6>
                  <h2>Watch <em>our videos</em> for your <span>projects</span></h2>
                  <p>Please <a rel="nofollow" href="https://www.paypal.me/templatemo" target="_blank">support us</a> a little via PayPal if this digital marketing HTML template is useful for you. Thank you.</p>
                  <div class="down-buttons">
                    <div class="main-blue-button-hover">
                      <a href="#video">Watch Videos</a>
                    </div>
                    <div class="call-button">
                      <a href="#"><i class="fa fa-phone"></i> 050-040-0320</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-------home end------->




<!------about------->
  <div id="about" class="about-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="left-image">
            <img src="assets/images/about-left-image.png" alt="Two Girls working together">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="section-heading">
            <h2>grow your trade with our <em>analysis</em> &amp; <span>prediction</span> Tools</h2>
            <p>you can use free analysis tools.<br>
             visit the website and use these tools.</p>
            <div class="row">
              <div class="col-lg-4">
                <div class="fact-item">
                  <div class="count-area-content">
                    <div class="icon">
                      <img src="assets/images/service-icon-01.png" alt="">
                    </div>
                    <div class="count-digit">3</div>
                    <div class="count-title">future Tools</div>
                    
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="fact-item">
                  <div class="count-area-content">
                    <div class="icon">
                      <img src="assets/images/service-icon-02.png" alt="">
                    </div>
                    <div class="count-digit">450</div>
                    <div class="count-title">Number of Client</div>
                    
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="fact-item">
                  <div class="count-area-content">
                    <div class="icon">
                      <img src="assets/images/service-icon-03.png" alt="">
                    </div>
                    <div class="count-digit">4</div>
                    <div class="count-title">Number of Tools</div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!------about end------->

   <!------services------->
  <div id="services" class="our-services section">
    <div class="services-right-dec">
      <img src="assets/images/services-right-dec.png" alt="">
    </div>
    <div class="container">
      <div class="services-left-dec">
        <img src="assets/images/services-left-dec.png" alt="">
      </div>
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading">
            <h2>We <em>Provide</em> The Best Service With <span>Our Tools</span></h2>
            <span>Our Services</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-carousel owl-services">
            <div class="item">
              <h4 style="height: 70px;">Learn More about Black Box Tool</h4>
              <div class="icon" style="width: 130px"><img src="assets/images/Picture2.png" width=700px;></div>
              <p style="text-align: justify;">The black box is an advanced analytical tool that provides many answers about the products that you can invest in, you only have to adjust the parameters of the tool to get the results and see the numbers as they speak, isn't that impressive!</p>
            </div>
            <div class="item">
              <h4 style="height: 70px;">Learn More about Black Box Tool</h4>
              <div class="icon" style="width: 85px"><img src="assets/images/Picture1.png" alt=""></div>
              <p style="text-align: justify;">This beautiful tool can interpret reality based on advanced analytics. This tool can answer a question about which products are the most popular among the many products in front of you. You can adjust its parameters according to what you want to explore what you want.</p>
            </div>
            <div class="item">
              <h4 style="height: 70px;">Learn More about The Expectation Tool</h4>
              <div class="icon" style="width: 95px"><img src="assets/images/Picture3.png" alt=""></div>
              <p style="text-align: justify;">This tool is based on artificial intelligence. Using algorithms, it can see the future. This tool can tell you, based on some variables that you give it, about the percentage of profits that you achieve. Isn't this curious!</p>
            </div>
            <div class="item">
              <h4 style="height: 70px;">Learn More about Sales Rate</h4>
              <div class="icon" style="width: 95px"><img src="assets/images/Picture4.png" alt=""></div>
              <p style="text-align: justify;">The results of this tool are translated into the rate of customer satisfaction with the product in addition to the extent of the spread of your product among customers. This tool, based on artificial intelligence, works to predict sales numbers for your products over specific periods of time, and this helps you in predicting the future of your product, isn't it reassuring!</p>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
<!------services end------->






  

<!-------contact------->


  <div id="contact" class="contact-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="section-heading">
            <h2>We are <em>Here </em>To <span> Support</span> Contact Us</h2>
            <div id="map">
              <iframe src="https://maps.google.com/maps?q=Av.+L%C3%BAcio+Costa,+Rio+de+Janeiro+-+RJ,+Brazil&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="360px" frameborder="0" style="border:0" allowfullscreen=""></iframe>
            </div>
            <div class="info">
              <span><i class="fa fa-phone"></i> <a href="#">010-6002-4256<br>010-6002-4256</a></span>
              <span><i class="fa fa-envelope"></i> <a href="#">Mohamed Sayd Radwan@company.com<br>Mohamed Sayd Radwan@company.com</a></span>
            </div>
          </div>
        </div>
        <div class="col-lg-5 align-self-center">
          <form id="contact" action="" method="get">
            <div class="row">
              <div class="col-lg-12">
                <fieldset>
                  <input type="text" name="name" id="name" placeholder="fristName" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="text" name="surname" id="surname" placeholder="lastname" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email" required="">
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                 <textarea class="form-control" rows="3" id="comment" name="text" placeholder="Massage..." style="border: 0.5px solid #ced4da;"></textarea>
                 <br>
                </fieldset>
              </div>
              
              <div class="col-lg-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="main-button">Send</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="contact-dec">
      <img src="assets/images/contact-dec.png" alt="">
    </div>
    <div class="contact-left-dec">
      <img src="assets/images/contact-left-dec.png" alt="">
    </div>
  </div>

  <!-------contact end------->
<!-----Submit Request---->
<%- include('layouts/footer.ejs') %>
  